<div class="row">
  <div class="col-md-12">
    <div ng-hide="MainVM.resolved">
      <h2>You need to enable pop-ups for this to work.</h2>
    </div>
    <div ng-show="MainVM.resolved">
      <h2>Welcome {{MainVM.user.username}}</h2>
      <p>Your token is {{MainVM.token}}</p>
      <button ng-click="MainVM.logout()">Log Out</button>
    </div>
  </div>
</div>
<div class="row equal" ng-show="MainVM.resolved">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-addon">
            Query
          </span>
          <input class="form-control" type="text" ng-model="MainVM.search.query">
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            Path
          </span>
          <input class="form-control" type="text" ng-model="MainVM.search.folder">
        </div>
        <div>
          <label>Type</label>
          <label for="MainVM.search.type">Folder
            <input type="radio" ng-model="MainVM.search.type" value="FOLDER">
          </label>
          <label for="MainVM.search.type">File
            <input type="radio" ng-model="MainVM.search.type" value="FILE">
          </label>
        </div>
        <button class="btn btn-primary" ng-click="MainVM.searchFolders(0)">Search</button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div ng-show="MainVM.searchResult" class="panel-heading">
        Results for '{{MainVM.search.query}}' inside {{MainVM.search.folder}}
      </div>
      <div class="panel-body">
        <p ng-hide="MainVM.searchResult" class="lead">Search results will appear here</p>
        <div ng-show="MainVM.searchResult">
          <ul>
            <li ng-repeat="result in MainVM.searchResult.results">{{result.path}}</li>
          </ul>
          <button class="btn btn-default" ng-show="MainVM.search.page > 1" ng-click="MainVM.searchFolders(MainVM.search.page-1)">prev</button>
          <span>Page {{MainVM.search.page + 1}} of {{MainVM.search.totalPages}}</span>
          <button class="btn btn-default" ng-show="MainVM.search.hasMore" ng-click="MainVM.searchFolders(MainVM.search.page+1)">next</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          <li ng-repeat="group in MainVM.groups">
            <a href="#" ng-click="MainVM.getGroup(group.id)">{{group.displayName}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div ng-show="MainVM.group" class="panel-heading">
        {{MainVM.group.displayName}}
      </div>
      <div class="panel-body">
        <p ng-hide="MainVM.group" class="lead">Click on a Group to view its members</p>
        <div ng-show="MainVM.group">
          <ul>
            <li ng-repeat="member in MainVM.group.members">{{member.display || member.username}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
